.menu__add-btn {
  background-color: #771ef400;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  padding: 11px;
  text-align: center;
  transition: all .5s;
  width: 150px;
}
  
  .menu__add-btn:hover {
    opacity: .6;
  }
  
  .menu__add-btn:active {
    position: relative;
    top: 1px;
  }
  
  @media screen and (max-width: 800px) {
    .menu__add-btn {
      margin-left: 50px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .menu__add-btn {
      width: 150px;
      margin-left: 77px;
      float: right;
    }
  }