.search__form {
  max-width: 600px;
  height: 44px;
  margin: auto;
  background-color: #4654e1;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .search__form {
    width: 100%;
    height: 88px;
    flex-direction: column;
  }
}