.logo {
  width: 105px;
  height: 44px;
  background: url('../../images/header-logo.svg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 103px;
  }
}