.grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
  width: 250px;
}

.grid::before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
}