.menu__link {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.menu__link:hover {
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 425px){
.menu__link {
  }
}