/* .feed__grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
  padding: 0 1rem;
  width: 100%;
  }

@media screen and (max-width: 425px) {
  .feed__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  .feed__grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.feed__grid {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 1rem;
  width: 100%;
  list-style: none;
  columns: 4;
  column-gap: 16px;
  padding: 0 1rem;
}
@media screen and (max-width: 1200px) {
  .feed__grid {
    columns: 3;
  }
}
  
@media screen and (min-width: 640px) and (max-width: 800px) {
  .feed__grid {
    columns: 2;
  }
}

@media screen and (max-width: 640px){
.feed__grid {
   columns: 1;
   width: 100%;
  } 
}
