/* .feed__grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
  padding: 0 1rem;
  width: 100%;
  }

@media screen and (max-width: 425px) {
  .feed__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  .feed__grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.feed__grid {
  list-style: none;
  columns: 4;
    column-gap: 16px;
  
    @media (max-width: 1200px) {
      columns: 3;
    }
  
    @media (max-width: 992px) {
      columns: 2;
    }
  
    /* //@media (max-width: 768px) {columns: 1;} */
  
  }
