.header__add-btn {
  background-color: #771ef400;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  padding: 11px;
  text-align: center;
  transition: all .5s;
  width: 150px;
}
  
  .header__add-btn:hover {
    opacity: .6;
  }
  
  .header__add-btn:active {
    position: relative;
    top: 1px;
  }
  
  @media screen and (max-width: 800px) {
    .header__add-btn {
      width: 282px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 800px) {
    .header__add-btn {
      width: 150px;
      margin-right: 0;
      float: right;
    }
  }