.menu {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

@media screen and (max-width: 525px) {
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 425px) {
  .menu {
    align-items: flex-start;
  }
}