.header {
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

@media screen and (max-width: 525px) {
  .header {
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}